* {
  padding: 0;
  margin: 0;
}
body {
  background: #21253f;
  color: #fff;
  overflow-x: hidden;
  font-family: inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.container {
  height: auto;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.top-heading {
  margin: 28px auto 0;
  text-align: center;
}
.top-heading b {
  background: #ff5722;
  background-image: linear-gradient(90deg, #ff5722 0%, #ffb74d 100%),
    linear-gradient(
      to bottom,
      rgba(240, 40, 40, 0) 0%,
      rgba(240, 40, 40, 0) 100%
    );
  padding: 5px 8px;
  border-radius: 7px;
}
.inputContainer {
  background: #fff;
  color: #000;
  border-radius: 20px;
  margin: 0;
  padding: 36px 40px;
  width: calc(100% - 80px);
  height: auto;
  margin-top: 30px;
}
.inputContainer h1 {
  margin-top: 0;
  margin-bottom: 30px;
}
.file {
  margin-bottom: 30px;
  max-width: 100%;
}

input {
  background: #e1e1e1;
  border-radius: 3px;
  border: none;
  padding: 6px 11px;
  font-size: 24px;
  margin-bottom: 12px;
  margin-left: 4px;
  margin-right: 5px;
}
button,
.button,
.btn {
  font-family: inter !important;
  font-feature-settings: "liga" 1;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  padding: 6px 11px;
  font-size: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  background: #21253f;
  color: #fff;
  width: auto;
  max-width: 100%;
}
.radio-toolbar input[type="radio"] {
  display: none;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: #21253f;
  color: #fff;
}
.radio-toolbar label {
  display: inline-block;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #e1e1e1;
  margin: 0 5px;
}
/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.result p {
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}
.noData {
  color: #fff;
  font-size: 1rem;
}
